**/node_modules
node_modules
.github
.vscode
.build
.built
.dist
content/images
content/themes/casper/.github
content/themes/casper/node_modules
content/themes/news/node_modules
content/themes/news/dist
content/themes/news/build
core/built
core/client/.github
core/client/dist
core/client/node_modules
core/client/tmp
docker/certbot
docker/nginx
